.error {
  width: 340px;
  height: auto;
  background: #ffffff;
  padding: 20px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
  border-radius: 12px;

  &__message {
    text-align: left;
  }

  &__message h1 {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 100px;
    line-height: 100px;
    text-align: center;
  }

  &__message p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
  }

  &__back-link {
    padding-top: 15px;
    border-top: 1px solid #ececed;
  }
}