@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

$color-btn-form: #fbd654;
$color-btn-form-active: #ffd633;
$color-btn-icon: #999;

$app-background: #fff;
$app-shadow: 0 0 6px rgba(0, 0, 0, 0.14);

$color-input-text: #1e1e1e;
$color-input-label: #999;

$color-active: #3369f3;
$color-error: #d92b4b;

$color-border: #ececed;

$contact-active: rgb(228, 233, 239);
$contact-message: #999;

$message-block-bg: rgb(228, 233, 239, 0.5);

$color-settingblock: rgb(228, 233, 239);

$color-scrollbar-bg: #f9f9fd;
$color-scrollbar-track: rgb(201, 206, 211);

$color-messge-bg: #e4e9ef;

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  background: #fdfdfe;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
