@import 'src/pages/style';

.form-block {
  width: 340px;
  height: auto;
  padding: 20px;
  background: $app-background;
  border-radius: 12px;
  box-shadow: $app-shadow;

  &__header {
    text-align: left;
  }

  &__header h1 {
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
  }
}
