.contacts {
  width: 340px;
  padding: 10px 0;
  border-right: 1px solid #ececed;
}

.contact {
  display: flex;
  height: 70px;

  &-selected {
    background: rgb(228, 233, 239);
  }

  &__avatar {
    padding: 10px 0;
    padding-left: 15px;
  }

  &__avatar img {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  &__info {
    flex: 1;
    padding: 10px;
  }

  &:hover {
    background: rgb(228, 233, 239);
  }

  &__message-info {
    padding: 10px;
    padding-right: 15px;

    font-size: 16px;
    line-height: 16px;
  }
}

.tool {
  &__find {
    height: 66px;
    padding: 0 15px;
    border-bottom: 1px solid #ececed;
  }

  &__add {
    height: 40px;

    & i {
      padding-left: 30px;
      padding-top: 10px;
      font-size: 22px;
      color: #999999;

      &:hover {
        color: #3369F3;
      }
    }
  }
}

.info {
  &__name {
    display: block;
    padding-bottom: 5px;

    font-size: 16px;
    line-height: 16px;
  }

  &__last-message {
    display: block;

    font-size: 12px;
    line-height: 12px;
    color: #999999;
  }
}