@import 'src/pages/style';

.link {
  text-align: center;

  &__a {
    color: $color-active;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    text-decoration: none;

    &:hover {
      color: $color-error;
    }
  }
}
